<br><br>
<form class="form" [formGroup]="izmeniForm" (ngSubmit)="izmeni()">
    Ime<input name="ime" type="text" formControlName="ime" />
    Prezime<input name="prezime" type="text"formControlName="prezime"/>
    Lozinka<input name="lozinka" type="password"formControlName="lozinka"/>
    Ponovljena Lozinka<input name="ponovljenaLozinka" type="password"formControlName="ponovljenaLozinka"/>
    Email<input name="email" type="email"formControlName="email"/>
    Datum Rodjenja<input name="datumRodjenja" type="date"formControlName="datumRodjenja"/>
    Adresa <input name="adresa" type="text" formControlName="adresa"/>
    <button type="submit" [disabled]="!izmeniForm.valid">Izmeni</button>
</form>
