<br><br><div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="shadow-lg">
        <div class="card card-signin my-5">
          <div class="card-body">
                <div class="form-label-group">
                <select name="ticketType" class="form-control" (change)="onSelectTicketType($event)">
                  <option>TimeTicket</option>
                  <option *ngIf="loggedIn">DayTicket</option>
                  <option *ngIf="loggedIn">MounthTicket</option>
                  <option *ngIf="loggedIn">YearTicket</option>
                </select><br>
                <label class="form-control text-center">Price: {{price}} RSD</label><br>
                <div *ngIf="!loggedIn">
                    <input #emailInput name="email" type="email" class="form-control" placeholder="Email" (input)="email = emailInput.value" required>
                </div>
                <div>
                  {{email}}
                </div>
              </div><br>      
              <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="buyTicket()">Buy</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>  