<br><br><div class="container">
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="shadow-lg">
              <div class="card card-signin my-5">
                <div class="card-body">
                    <div>
                      <label>Lines: </label>
                    </div>
                    <div class="form-label-group">
                        <select name="selectedLine" class="form-control" (change)="onSelectLine($event)">
                            <option  *ngFor="let l of lines" [value]="l.Id">{{l.LineName}}</option>
                        </select>
                    </div>
                    <div class="form-label-group">
                        <label>Day Type:</label>
                        <select class="form-control" (change)="onSelectDayType($event)">
                          <option value='0'>Weekday</option>
                          <option value='1'>Weekend</option>
                        </select>
                      </div><br>

                      <li *ngFor="let item of Departures">
                          {{item.Departures}}
                      </li>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="shadow-lg">
          <div class="card card-signin my-5">
            <div class="card-body">
              <form class="form-signin" [formGroup]="scheduleForm">
                <div class="form-label-group">
                    <label>Departures: </label>
                      <select name="selectedDeparture" formControlName="selectedDeparture" class="form-control" (change)="onSelectDeparture($event)">
                        <option  *ngFor="let d of Departures" [value]="d.Id">{{d.Departures}}</option>
                      </select>
                    <!--<div *ngIf="lineForm.controls.lineName.errors" >
                        <div *ngIf="lineForm.controls.lineName.errors.required && (lineForm.controls.lineName.dirty || lineForm.controls.lineName.touched)" class="badge badge-danger">Line name is mandatory field</div>
                    </div>-->

                        <!--<div *ngIf="lineForm.controls.lineName.errors" >
                            <div *ngIf="lineForm.controls.lineName.errors.required && (lineForm.controls.lineName.dirty || lineForm.controls.lineName.touched)" class="badge badge-danger">Line name is mandatory field</div>
                        </div>-->
                        <br>
                        <input [value]="selectedDeparture" name="editDeleteDeparture" formControlName="editDeleteDeparture" name="departure" type="text" class="form-control">
                        <br>
                            <div class="d-flex justify-content-between">
                                <div *ngIf="scheduleForm.controls.editDeleteDeparture.valid">
                                  <button class="btn btn-lg btn-primary text-uppercase active" (click)="onClickEdit()">Edit</button>
                                </div>
                                <div *ngIf="!scheduleForm.controls.editDeleteDeparture.valid">
                                  <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!scheduleForm.valid">Edit</button>
                                </div>
                                <div *ngIf="scheduleForm.controls.editDeleteDeparture.valid">
                                  <button class="btn btn-lg btn-primary text-uppercase active" (click)="onClickDelete()">Delete</button>
                                </div>
                                <div *ngIf="!scheduleForm.controls.editDeleteDeparture.valid">
                                    <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!scheduleForm.valid">Delete</button>
                                </div>
                           </div>
                           <br>
                        <label>Departures: </label>
                        <input formControlName="addDeparture"  type="text" class="form-control">
                        <br>
                        <div *ngIf="scheduleForm.controls.addDeparture.valid">
                            <button class="btn btn-lg btn-primary  col-sm-9 col-md-7 col-lg-12 mx-auto text-uppercase active" (click)="onClickAdd()">Add</button>
                          </div>
                          <div *ngIf="!scheduleForm.controls.addDeparture.valid">
                              <button class="btn btn-lg btn-primary col-sm-9 col-md-7 col-lg-12 mx-auto text-uppercase disabled" [disabled]="!scheduleForm.valid">Add</button>
                          </div>
                </div>
                
                </form>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  
  
  
   
  
  
  