<form class="form" >
    <input name="Ime" type="text" placeholder="Ime"/>
    <input name="Prezime" type="text" placeholder="Prezime" />
    <input name="Lozinka" type="password" placeholder="Lozinka" />
    <input name="PonovljenaLozinka" type="password" placeholder="Ponovljena Lozinka" />
    <input name="Email" type="email" placeholder="Email" />
    <input name="DatumRodjenja" type="date" placeholder="Datum Rodjenja" />
    <input name="Adresa" type="text" placeholder="Adresa" />
  
    <select name="TipKorisnika1" id="TipKorisnika" class="form-control" (change)="onSelect($event)" class="selectClass" required>
      <option *ngFor="let p of putnik" [value]="p">{{p}}</option>
    </select> 
    
    <div *ngIf="vrednost == 'Djak'">
        <input type="file" name="Slika" accept="image/*" >
    </div>       
    <div *ngIf="vrednost == 'Penzioner'">
      <input type="file" name="Dokument" accept="document/*" >
    </div>

    <button>Register</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
</form>
{{vrednost}}
