<form class="form">
  <form>
    <input name="Ime" type="text" placeholder="Ime"/>
    <input name="Prezime" type="text" placeholder="Prezime"/>
    <input name="Lozinka" type="password" placeholder="Lozinka"/>
    <input name="PonovljenaLozinka" type="password" placeholder="Ponovljena Lozinka"/>
    <input name="Email" type="email" placeholder="Email"/>
    <input name="DatumRodjenja" type="date" placeholder="Datum Rodjenja"/>
    <input name="Adresa" type="text" placeholder="Adresa"/>
    
      <select name="TipKorisnika" class="selectClass">
        <option value="Regularan">Regularan</option>
        <option value="Djak" selected>Djak</option>
        <option value="Penzioner">Penzioner</option>
      </select>

      <input type="file" name="Dokument" accept="document/*">
    <button>Register</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
</form>

