<form class="form">
  
    <input name="Ime" type="text" placeholder="Ime"/>
    <input name="Prezime" type="text" placeholder="Prezime"/>
    <input name="Lozinka" type="password" placeholder="Lozinka"/>
    <input name="PonovljenaLozinka" type="password" placeholder="Ponovljena Lozinka"/>
    <input name="Email" type="email" placeholder="Email"/>
    <input name="DatumRodjenja" type="date" placeholder="Datum Rodjenja"/>
    <input name="Adresa" type="text" placeholder="Adresa"/>
    
      <select name="TipKorisnika"  (change)="onSelect($event)" class="selectClass"> 
        <option  value="0"  selected >Regularan</option>
        <option  value="1" >Djak</option>
        <option  value="2" >Penzioner</option>
      </select>

    
      <div *ngIf="vrednost == '1'">
          <input type="file" name="Image" accept="image/*">
      </div>       
      <div *ngIf="vrednost == '2'">
        <input type="file" name="Dokument" accept="document/*">
      </div>

    <button>Register</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>

</form>

<div *ngIf="vrednost == '1'">
  {{vrednost}}
</div>
