<form class="form-signin" [formGroup]="profileForm" (ngSubmit)="edit()"><br><br>
  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="shadow-lg">
            <div class="card card-signin my-5">
              <div class="card-body">
                  <div class="form-label-group">
                      <span class="badge badge-primary">Name: </span>
                      <input name="name" type="text" class="form-control" placeholder="Name" required formControlName="name">
                  </div><br>
                  <div class="form-label-group">
                      <span class="badge badge-primary">Surname: </span>
                    <input name="surname" type="text" class="form-control" placeholder="Surname" required formControlName="surname">
                  </div><br>
                  <div class="form-label-group">
                      <span class="badge badge-primary">Address: </span>
                      <input name="address" type="text" class="form-control" placeholder="Address" required formControlName="address">
                    </div><br>
                    <div class="form-label-group">
                        <span class="badge badge-primary">Birthday: </span>
                        <input name="birthday" type="date" class="form-control" placeholder="Birthday" required formControlName="birthday">
                      </div><br>
                      
                  <div class="form-label-group">
                      <span class="badge badge-primary">Email: </span>
                    <input name="email" disabled type="email" class="form-control" placeholder="Email" required formControlName="email">
                  </div>
                   <br>
                  <div *ngIf="selectValue == 'Student' && userProfileActivated == 'false'" class="form-label-group">
                      <div class="input-group">
                          <div class="custom-file">
                            <input name="image" type="file" accept="image/*" class="custom-file-input">
                            <label class="custom-file-label">Choose file</label>
                          </div>
                      </div>
                  </div>       
                  <div *ngIf="selectValue == 'Pensioner' && userProfileActivated == 'false'" class="form-label-group">
                      <div class="input-group">
                          <div class="custom-file">
                              <span class="badge badge-primary">Image/Document: </span>
                            <input name="image" type="file" accept="document/*" class="custom-file-input">
                            <label class="custom-file-label">Choose file</label>
                          </div>
                      </div>
                  </div>
  
                  <br>
                  <div *ngIf="profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase active" type="submit">Edit</button>
                  </div>
                  <div *ngIf="!profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!profileForm.valid" type="submit">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </form>