<form class="form-signin" [formGroup]="profileForm" (ngSubmit)="edit()"><br><br>
  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="shadow-lg">
            <div class="card card-signin my-5">
              <div class="card-body">
                  <div class="form-label-group">
                      <div *ngIf="profileForm.controls.email.errors" >
                          <div *ngIf="profileForm.controls.email.errors.required && (profileForm.controls.email.dirty || profileForm.controls.email.touched)" class="badge badge-danger">Email is mandatory field</div>
                        </div>
                    <div *ngIf="profileForm.controls.activated.value == 0 && userRole == 'AppUser'">
                      <button type="button" class="btn btn-info btn-lg btn-block" disabled>Validation in process</button><br>
                    </div>
                    <div *ngIf="profileForm.controls.activated.value == 1 && userRole == 'AppUser'">
                        <button type="button" class="btn btn-success btn-lg btn-block" disabled>Profile Activated</button><br>
                      </div>
                      <div *ngIf="profileForm.controls.activated.value == 2 && userRole == 'AppUser'">
                          <button type="button" class="btn btn-danger btn-lg btn-block" disabled>Profile Declined</button><br>
                        </div>
                    <input type="hidden" name="email" class="form-control" placeholder="Email" required formControlName="email">
                    <button type="button" class="form-control" disabled>{{profileForm.controls.email.value}}</button>
                  </div><br>
                  <div class="form-label-group">
                      <div *ngIf="profileForm.controls.name.errors" >
                          <div *ngIf="profileForm.controls.name.errors.required && (profileForm.controls.name.dirty || profileForm.controls.name.touched)" class="badge badge-danger">Name is mandatory field</div>
                        </div>
                      <span class="badge badge-primary">Name: </span>
                      <input name="name" type="text" class="form-control" placeholder="Name" required formControlName="name">
                  </div><br>
                  <div class="form-label-group">
                      <div *ngIf="profileForm.controls.surname.errors" >
                          <div *ngIf="profileForm.controls.surname.errors.required && (profileForm.controls.surname.dirty || profileForm.controls.surname.touched)" class="badge badge-danger">Surname is mandatory field</div>
                        </div>
                      <span class="badge badge-primary">Surname: </span>
                    <input name="surname" type="text" class="form-control" placeholder="Surname" required formControlName="surname">
                  </div><br>
                  <div class="form-label-group">
                      <div *ngIf="profileForm.controls.address.errors" >
                          <div *ngIf="profileForm.controls.address.errors.required && (profileForm.controls.address.dirty || profileForm.controls.address.touched)" class="badge badge-danger">Address is mandatory field</div>
                        </div>
                      <span class="badge badge-primary">Address: </span>
                      <input name="address" type="text" class="form-control" placeholder="Address" required formControlName="address">
                    </div><br>
                    <div class="form-label-group">
                        <div *ngIf="profileForm.controls.birthday.errors" >
                            <div *ngIf="profileForm.controls.birthday.errors.required && (profileForm.controls.birthday.dirty || profileForm.controls.birthday.touched)" class="badge badge-danger">Birthday is mandatory field</div>
                          </div>
                        <span class="badge badge-primary">Birthday: </span>
                        <input name="birthday" type="date" class="form-control" placeholder="Birthday" required formControlName="birthday">
                      </div><br>
                      
                      
                      <div *ngIf="selectValue == 0 && userRole == 'AppUser'" class="form-label-group">
                          <span class="badge badge-primary">User Type: </span>
                          <select class="form-control" (change)="onSelect($event)">
                              <option value="0">Regular User</option>
                              <option value="1">Student</option>
                              <option value="2">Pensioner</option>
                          </select>
                      </div>
                      <div *ngIf="selectValue != 0 && userRole == 'AppUser'" class="form-label-group">
                          <span class="badge badge-primary">User Type: </span>
                          <select disabled class="form-control" (change)="onSelect($event)">
                              <option *ngIf="profileForm.controls.userType.value == 1" value="1">Student</option>
                              <option *ngIf="profileForm.controls.userType.value == 2" value="2">Pensioner</option>
                          </select>
                      </div>

                  
                   <br>
                  <div *ngIf="showFile" class="form-label-group">
                      <span class="badge badge-primary">Image: </span>
                      <div class="input-group">
                          <div class="custom-file">
                            <input formControlName="image" type="file" accept="image/*" class="custom-file-input" (change)="onImageChange($event)">
                            <label class="custom-file-label">Choose file</label>
                          </div>
                      </div>
                  </div>  
                  <br>
                  <div *ngIf="profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase active" type="submit">Edit</button>
                  </div>
                  <div *ngIf="!profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!profileForm.valid" type="submit">Edit</button>
                  </div><br>
                  <div *ngIf="userRole == 'AppUser'">
                      <div *ngIf="profileForm.valid">
                        <a class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="brisac()">Delete</a>
                      </div>
                      <div *ngIf="!profileForm.valid">
                          <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!profileForm.valid" type="submit">Delete</button>
                      </div>
                      
                      <img *ngIf="image" [src]="image" #imageControl style="height: 200;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </form>