<br><br><div class="container">

    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="shadow-lg">
              <div id="gape1" class="card card-signin my-5">
                <div class="card-body">
                    <div>
                      <label>Station: </label>
                    </div>
                    <div class="form-label-group">
                        <select name="selectedStation" class="form-control" (change)="onSelect($event)">
                            <option></option>
                            <option  *ngFor="let s of stations" [value]="s.Id">{{s.Name}}</option>
                        </select>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="shadow-lg">
          <div class="card card-signin my-5">
            <div class="card-body">
              <form class="form-signin" [formGroup]="stationForm">
                <div class="form-label-group">
                    <div *ngIf="stationForm.controls.name.errors" >
                        <div *ngIf="stationForm.controls.name.errors.required && (stationForm.controls.name.dirty || stationForm.controls.name.touched)" class="badge badge-danger">Name is mandatory field</div>
                    </div>
                    <input name="name" type="text" class="form-control" placeholder="Name" formControlName="name">
                </div>
                <br>
                <div class="form-label-group">
                    <div *ngIf="stationForm.controls.address.errors" >
                        <div *ngIf="stationForm.controls.address.errors.required && (stationForm.controls.address.dirty || stationForm.controls.address.touched)" class="badge badge-danger">Address is mandatory field</div>
                    </div>
                    <input name="address" type="text" class="form-control" placeholder="Address" formControlName="address">
                </div>
                <br>
                <div class="form-label-group">
                    <div *ngIf="stationForm.controls.xCoordinate.errors" >
                        <div *ngIf="stationForm.controls.xCoordinate.errors.required && (stationForm.controls.xCoordinate.dirty || stationForm.controls.xCoordinate.touched)" class="badge badge-danger">xCoordinate is mandatory field</div>
                    </div>
                    <input name="xCoordinate" type="number" class="form-control" placeholder="xCoordinate" formControlName="xCoordinate">
                </div>
                <br>
                <div class="form-label-group">
                    <div *ngIf="stationForm.controls.yCoordinate.errors" >
                        <div *ngIf="stationForm.controls.yCoordinate.errors.required && (stationForm.controls.yCoordinate.dirty || stationForm.controls.yCoordinate.touched)" class="badge badge-danger">yCoordinate is mandatory field</div>
                    </div>
                    <input name="yCoordinate" type="number" class="form-control" placeholder="yCoordinate" formControlName="yCoordinate">
                </div>
                  <br>
                  <div *ngIf="selectedStationId==''">
                  <div *ngIf="stationForm.valid">
                      <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="addStation()">Add Station</button>
                    </div>
                    <div *ngIf="!stationForm.valid">
                      <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!stationForm.valid">Add Station</button>
                    </div><br>
                  </div>
                    <div *ngIf="selectedStationId!=''">
                        <div class="d-flex justify-content-between">
                            <div *ngIf="stationForm.valid">
                              <button class="btn btn-lg btn-primary text-uppercase active">Edit</button>
                            </div>
                            <div *ngIf="!stationForm.valid">
                              <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!stationForm.valid">Edit</button>
                            </div>
                            <div *ngIf="stationForm.valid">
                              <button class="btn btn-lg btn-primary text-uppercase active" (click)="onClickDelete()">Delete</button>
                            </div>
                            <div *ngIf="!stationForm.valid">
                                <button class="btn btn-lg btn-primary text-uppercase disabled" [disabled]="!stationForm.valid">Delete</button>
                            </div>
                       </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


   
  
  
